/* --------------------------------------------super savers section------------------------- */



*{
    margin: 0%;
    padding: 0%;
    /* text-transform: uppercase; */
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #f5f5f5;
    width: 100%;
}
/* ---------------------------------------header(rajesh)--------------------------- */

header{
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    width: 100%;
}

.navbar {
    width: 100%;
    background-color:black;
  }
  .navicon i{
    margin-top: 40px;
    color: white;
  }

  .giftlink i{
    font-size: 25px;
  }
  .navicon {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .nav {
    width: 100%;
    height: 100px;
    display: flex;
  }
  
  .brand-logo {
    height: 85px;
    text-decoration: none;
    margin-left: 45px;
  }

  
  .nav-items {
    display: flex;
    width: 100%;
    height: 70%;
    align-items: center;
  }
  
  .search {
    width: 50rem;
    display: flex;
    margin-right: 50px;
    padding: 10px;
  }
  
   .search input{
    width: 100%;
    height: 40px;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-transform: capitalize;
    border: none;
    color: black;
    outline: none;
    font-size: 15px;
    background-color:white;
  }
  
  .search-btn {
    width: 20%;
    height: 40px;
    padding: 5px 10px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #383838;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  
  .nav-items a img {
    width: 30px;
  }
  .counter {
    border: 1px solid grey;
    height: 18px;
    width: 15px;
    text-align: center;
    border-radius: 50%;
    margin-left: -9px;
    position: relative;
    display: none;
  }
  .login >a {
    color: white;
  }
 
  .nav {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
  }
 
  .nav_info{
    width:50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .navlogin {
    display: flex;
    align-items: center;
    height: 40px;
    cursor: pointer;
  }
  .navlogin >i{
    margin-top: 40px;
    color: white;
  }
 
  .navlogin > .fa-sort-desc{
    font-size: 30px;
  }
  .menu-bar {
    text-align: center;
    display: flex;
    /* margin-left: 30px; */
    font-weight: 700;
    background-color: black;
  }
  
  .menu-bar > .ul_container {
    display:flex;
    list-style: none;
  }
  .menu-bar .ul_container li {
    width: 100%;
    margin: 10px 30px;
    padding: 5px 0px;
    list-style: none;
  }
  .menu-bar .ul_container  li  a {
    text-decoration: none;
    color: white;
    font-size: 15px;
   
  }
  .menu-bar ul li a:hover{
      font-weight: bold;
  }
  .active,
  .menu-bar ul li :hover {
    /* background-color: #e4e9e3; */
    border-radius: 2px;
  }
 
  
  /* sum-menu-1 start */
  
  .sub-menu-1 {
    display: none;
    font-size: small;
    /* margin-left: 10px; */
  }
  .menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background-color: white;
    margin-top: 10px;
    margin-right: 10px;
  }
 
  .menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
  }
  .menu-bar ul li:hover .sub-menu-1 ul li {
    width: 130px;
    padding: 5px;
    /* border-bottom: 1px solid white; */
    background: transparent;
    border-radius: 0;
    text-align: left;
    margin-right: 0px;
  }
  .menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
  }
  .menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    color: black;
  }
  .fa-angle-right {
    float: right;
  }
  
  /* sub-menu-2 start */
  
  .sub-menu-2 {
    display: none;
    font-size: small;
  }
  .hovor-me:hover .sub-menu-2 {
    position: absolute;
    display: block;
    margin-top: 5px;
    margin-left: 125px;
    background-color: white;
    font-size: smaller;
  }

  .search-btn >a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }

/* ------------------------main content (prakash kumar)-------------------- */
main{
    overflow: scroll;
    width: 100%;
    height: 100vh;
}


.top_slide_bar_div{
    
    width: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    box-sizing: border-box;
}


.sliding_window{
    width: 100%;
    margin: auto;
    display: flex;
    overflow: visible;
    box-sizing: border-box;
}


.content:hover .abs{
    visibility: visible;
   
}


.content{
    position: relative;
}


.abs{
   background-color: rgba(0,0,0,.5);
    position: absolute;
   top: 50%;
   transform: translateY(-50%);
   height: 30px;
   width: 30px;
   cursor: pointer;
   border-color: transparent;
   visibility: hidden;
    
}


.abs span{
    font-size: 14px;
    color: white;
    line-height: 40px;
    
}


.abs:hover{
    background-color: rgba(0, 0, 0, 0.8);

}


.lArrow{
    margin-left: 40px;
    height: 28px;
    width: 28px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.rArrow{
    right: 0;
        margin-right: 60px;
        height: 28px;
        width: 28px;
        border-radius: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
}



/* BESTSELLERS ==>> First box starts */

.first_box_slide_div{
    /* background-color: blue; */
    display: flex;
    width: 95%;
    height: fit-content;
    cursor: pointer;
    margin: auto;
    justify-content: space-evenly;
}

.first_box_slide_div:hover .left,.right{
    visibility: visible;
}

.first_box_slide_div:hover .right{
    visibility: visible;
}

.best_seller_products{
    display: flex;
    box-sizing: border-box;
    align-items: center;
   justify-content: space-evenly;
    width: 90%;
    flex-wrap: wrap;
   overflow: hidden;
}

.idiv{
    display: flex;
    width: 10%;
    align-items: center;
    justify-content: space-around;
}

.left,.right{
     font-size: 50px;
    align-items: center;
   visibility: hidden;   
}

/* ########### BESTSELLERS ==>> From JS ########### */

.first_pro_div{
    width: 20%;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    justify-content: space-evenly;
    box-sizing: border-box;
    height: fit-content;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.first_pro_div:hover{
    visibility: visible;
}


.pro_name{
    font-size: 13px;
    height: 40px;
    font-weight: bold;
    text-align: center;
   
    margin-top: 5px;
}


.pdiv{
    display: flex;
    align-items: center;
   margin-top: 3px;
    height: 20px;
    
    justify-content: center;
}

.text_tag{
  
    text-align: center;
   box-sizing: border-box;
   padding:  10px;
   margin: auto;
  margin-top: 8px;
    background-color: #1f1f1f;
    color: aliceblue;
   
}

/*########### BESTSELLERS  part Completed  ###########*/


/*########### HOT Deals part and Top pics of the week started  ###########*/


.second_box:hover .abs{
    visibility: visible; 
}

.fifth_box:hover .abs{
    visibility: visible; 
}

.second_box,.fifth_box{
    position: relative;
}

.second_box_slide_div,.fifth_box_slide_div{
    /* border: 1px solid; */
    display: flex;
    height: 266px;
    width: 1263px;
    margin: auto;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.first_slider{
    margin-top: -10px;
}

.slider{
    /* border: 1px solid red; */
    display: flex;
    width: 1263px;
    height: 266px;
    box-sizing: border-box;
    overflow: visible;
}
.sliding_div{
    /* border: 1px solid; */
    width: 421px;
    height: 266px;
     box-sizing: border-box;
}

/*########### HOT Deals part Completed and Top pics of the week ###########*/


/* *########### third box (Youtube - Video)  Started ###########*/ 

.third_box_video_div{
    width: 100%;
    display: flex;
    justify-content: center;
}
.third_box_video_div>iframe{
    display: block;
    margin: auto;
    width: 85%;
    height: 65vh;
}

/* *########### third box (Youtube - Video)  Completed ###########*/ 


/*########### Just-In  part Started  ###########*/


.fourth_box_slide_div{
    display: flex;
    width: 95%;
    height: fit-content;
    cursor: pointer;
    margin: auto;
    justify-content: space-evenly;
}
.fourth_box_slide_div:hover .justLeft,.justRight{
    visibility: visible;
}
.fourth_box_slide_div:hover .justRight{
    visibility: visible;
}
.justIn_products{
   
    display: flex;
    box-sizing: border-box;
    align-items: center;
   justify-content: space-evenly;
    width: 90%;
    flex-wrap: wrap;
   overflow: hidden;
}
.judiv{
    display: flex;
    width: 10%;
    align-items: center;
    justify-content: space-around;
}
.justLeft,.justRight{
    
    font-size: 50px;
    align-items: center;
   visibility: hidden;   
}

/* From JS */

.four_pro_div{
    width: 21%;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    justify-content: space-evenly;
    box-sizing: border-box;
    height: 100%;
    align-items: center;
    text-transform: uppercase;
}

.four_pro_div:hover{
    visibility: visible;
}

.justIn_name{
    font-size: 13px;
    height: 40px;
    font-weight: bold;
    text-align: center;
   
    margin-top: 5px;
}
.Jdiv{
    display: flex;
    align-items: center;
   margin-top: 3px;
    height: 20px;
    
    justify-content: center;
}

.just_tag{
  
    text-align: center;
   box-sizing: border-box;
   padding:  10px;
   margin: auto;
  margin-top: 8px;
    background-color: #1f1f1f;
    color: aliceblue;
   
}




/* ------------------------main content (govind verma)-------------------- */
/* ------------------------------------gifting----------------------- */

.gifting{
    width: 100%;
    text-transform: uppercase;
}
.gifting_container{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 65vh;
    align-items: center;
    margin: 20px 0px;
    
}
.gifting_box{
    width: 15%;
    margin:20px;
    height: 90%;
    background-color:white;
    text-align: center;
    width: 20%;
}
.gifting_box_offer{
    position: relative;
    left: -20%;
    top: 5%;
    background-color: red;
    width: 50%;
    height: 20px;
    color: white;
    align-items: center;
    clip-path: polygon(100% 0, 84% 51%, 100% 100%, 25% 100%, 25% 0%)
}
.bestseller{
    background-color: rgb(29, 88, 176);
    text-align: center;
    width: 65%;
}
.gifting_container img{
    width: 80%;
    height: 350px;
}

.gifting_item_checkout{
    line-height: 20px;
    background-color: black;
    font-size: 14px;
    color: white;
    padding: 10px 20px;
    font-weight: 700;
}
.gifting_item_name{
font-size: 15px;
margin: 10px 0px;
}
.gifting_item_prize{
    font-weight: bold;
    margin: 5px 0px;
}
span{
    color: rgb(252, 39, 121);
    margin-right: 10px;
    text-transform: capitalize;

}

.leftbtn{
    width: 10%;
    height: fit-content;
    text-align: center;
}
.leftbtn i{
    cursor: pointer;
    font-size: 4rem;
}
.previousbtn:hover{
    color: red;
}
.righttbtn{
    width: 10%;
    height: fit-content;
    text-align: center;
}
.righttbtn i{
    font-size: 4rem;
}
.forwordbtn{
    cursor: pointer;
    font-size: 50px;
}
.forwordbtn:hover{
    color: red;
}
/* ---------------------------------refer----------------------- */
.refer{
    width: 100%;
    height: fit-content;
    text-transform: uppercase;
}
.refer_container2{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}
.refer_container{
    width: 95%;
    height: fit-content;
}
.refer_container img{
    width: 100%;
    height:fit-content ;
}





/* ----------------------------super saver--------------------------- */
.super_saver{
    width: 100%;
    text-transform: uppercase;
}
.super_saver_heading{
    text-align: center;
    font-size: 30px;
    margin: 20px 0px;
}
.super_savers_container{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 65vh;
    align-items: center;
    margin: 20px 0px;
    
}
.super_savers_box{
    width: 15%;
    margin:20px;
    height: 90%;
    background-color:white;
    text-align: center;
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.super_saver_box_offer{
    position: relative;
    left: -20%;
    top: 10%;
    background-color: red;
    width: 50%;
    height: 20px;
    color: white;
    align-items: center;
    clip-path: polygon(100% 0, 84% 51%, 100% 100%, 25% 100%, 25% 0%)
}
.super_savers_container img{
    width: 80%;
    height: 350px;
}

.super_save_item_checkout{
    line-height: 20px;
    background-color: black;
    font-size: 14px;
    color: white;
    padding: 10px 20px;
    font-weight: 700;
}
.super_save_item_name{
font-size: 15px;
margin: 10px 0px;
}
.super_save_item_prize{
    font-weight: bold;
    margin: 5px 0px;
}
span{
    color: rgb(252, 39, 121);
    margin-right: 10px;
    text-transform: capitalize;

}
.super_save_item_rating{
    margin: 5px 0px;
    font-weight: bold;
}

.leftbtn{
    width: 10%;
    height: fit-content;
    text-align: center;
}
.leftbtn i{
    cursor: pointer;
    font-size: 4rem;
}
.previousbtn:hover{
    color: red;
}
.righttbtn{
    width: 10%;
    height: fit-content;
    text-align: center;
}
.righttbtn i{
    font-size: 4rem;
}
.forwordbtn{
    cursor: pointer;
    font-size: 50px;
}
.forwordbtn:hover{
    color: red;
}


/* --------------------------------------newly launched section----------------------------------------------- */


.newly_launched{
    width: 100%;
    height: fit-content;
    text-transform: uppercase;
}
.launched_container{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper{
    width:100%;
    height: fit-content;
}
.swiper-slide{
    width: 100%; 
}


.swiper .swiper-button-prev  , .swiper .swiper-button-next {
   color: #f5f5f5;
   transition: .3s;
}
.swiper .swiper-button-prev:hover  , .swiper .swiper-button-next:hover {
  color: black;
}
.swiper .swiper-pagination-bullet-active{
  background-color:white;
}


/* -------------------------------Sugar_streaming----------------------- */

.Sugar_streaming{
    width: 100%;
    height: fit-content;
    text-transform: uppercase;
}
.sugar_container2{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.sugar_streaming_video_container{
    width: 90%;
    display: flex;
    overflow-y: scroll; 
}

.sugar_streaming_video_container::-webkit-scrollbar {
    display: none;
  }

iframe{
    width: 20%;
    margin: 5px 10px;
    border-radius: 10px;
    height: 450px;
}


/* ---------------------------------this or that-------------- */

.this_or_that{
    width: 100%;
    height: fit-content;
    text-transform: uppercase;
}
.that_container{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
}
.that_container img{
    width: 40%;
    height: fit-content;
}

/* ---------------------------skin_care------------------ */



/*----------------sugar beauty blog---------------------  */


.sugar_beauty_blog{
    width: 100%;
    height: 60vh;
    text-transform: uppercase;

}
.sugar_container2{
    width: 100%;
}

.sugar_beauty_blog_container{
    width: 100%;
    height: fit-content;
    display: flex;
    overflow-y: scroll;
}

.sugar_beauty_blog_container::-webkit-scrollbar {
    display: none;
}
.sugar_beauty_blog_container img{
    width: 40%;
    height: fit-content;
    margin: 0px 10px;
}
.beauty_icon{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 50%;
}
.beauty_icon i{
    font-size: 2rem;
    margin: 0px 30px;
    background-color: rgba(0, 0, 0, 0.675);
    color: white;
    width: 35px;
    height:35px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

/* ---------------------------------quick tips------------------- */

.quick_tips{
    width: 100%;
    height: fit-content;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.quick_tips_container{
width: 100%;
height: 60vh;
display: flex;
align-items: center;
justify-content: center;
}

/* ------------------------------explore------------------------- */


.explore{
    width: 100%;
    text-transform: uppercase;
    height: 36vh;

}
.explore_container2{
    width: 100%;
}

.explore_container{
    width: 100%;
    height: fit-content;
    display: flex;
    overflow-y: scroll;
}

.explore_container::-webkit-scrollbar {
    display: none;
}
.explore_container img{
    width: 40%;
    height: fit-content;
    margin: 0px 10px;
}
.explore_icon{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 45%;
}
.explore_icon i{
    font-size: 2rem;
    margin: 0px 30px;
    background-color: rgba(0, 0, 0, 0.675);
    color: white;
    width: 35px;
    height:35px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

/* ----------------------more------------- */
.more{
    width: 100%;
    height: 50px;
    font-size: 20px;
    background-color: white;
    text-transform: uppercase;
}
.more>a{
    margin-left: 50px;
    text-decoration: none;
    color: black;
}


/* ----------------------------footer--------------------------------- */


.exept-footer-and-hr{
    padding: 40px;
}
.footer-section{
    margin :0;
    padding:30px;
    background-color:black;
    
color: #ffff;
}
.logo-icons{
    text-align:center;
    margin-top: -60px;
}

i{
    color: gray;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    margin:  13px;
    margin-bottom: 40px;
    cursor: pointer;
    transition:ease 0.40s;
    
}
i:hover{
    scale: 1.1;
}



.subscribe-app-section{
    display:flex;
    
}
.subscribe-app-section input{
    font-size: 19px;
    border:none;
    padding-bottom: 14px;
    background-color: black;
    height: 35px;
    width:250px;
    color: white;
    outline: none;
    border-bottom: 2px solid gray;
    text-transform: lowercase;
    
}
.subscribe-app-section button{
    background-color: #fc2779;
    color: white;
    border-radius: 10px;
    margin: 20px 4px 0px;
    padding:7px 15px;
    font-size: 15px;
    padding: 20px;
    cursor: pointer;
    transition:ease 0.40s;
    
}
.subscribe-app-section button:hover{
    scale: 1.1;
}
.app>h2{
    margin-bottom: 25px;
}
.app .app-logo{
    color: gray;
}
.app-logo{
    display: flex;
    

}
.app .app-logo .img-1{
    margin-left: 25px; 
    transition:ease 0.4s;
}
.app .app-logo .img-2{
    margin-left: 25px;
    transition:ease 0.4s;
}
.img:hover{
    scale: 1.2;
}
.image{
    display: flex;
    
}
.image img{
    cursor: pointer;
}
.subscribe-app-section .app{
    margin-left: 300px;
}


/* --------------------------information-------------------------- */

.information .store-terms-returns{
    display: flex;
    justify-content: space-between;
    color: gray;
    margin-right: 350px;
    transition:ease 0.40s;
    
}
.store-terms-returns{
    margin: 30px 0px;
    cursor: pointer;
}

.information .store-terms-returns h4:hover{
    color: white;
  border-bottom: 2px solid white;
}

/* ---------------------get in touch --------------------- */


.get-in-touch{
    margin-bottom: 30px;
    font-size: 17px;
}
.get-in-touch .inside-get-in-touch{
    display: flex;
    justify-content: space-between;
}

.call{
    text-transform: capitalize;
    display: block;
}
.call_icon{
    width: fit-content;
    height: 50px;
    display: flex;
    align-items: center;
}
.call_icon i{
    margin-top: 40px;
}

.call>h2{
    font-size: 20px;
    font-style: bolder;
    text-transform: lowercase;
}
.get-in-touch .gray{
    color:gray;
}
.get-in-touch h3:hover{
    color: white;
}


footer{
    text-align: center;
    padding: 20px;
}





/* ------------------------------product page css -------------- */


.product-section {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.product-section  h5,h3{
    font-size: 14px;
    color: rgb(95, 95, 95);
    font-weight: normal;
}
.product-section  a{
    font-size: 14px;
    color: rgb(95, 95, 95);
    font-weight: normal;

}

.product-section i {
    color: black;
    margin-right: 5px;
}

.under-nav {
    display: flex;
    margin-top: 10px;
    margin-right: 60px;
}

.under-nav .filter-sort {
    margin-right: 40px;
}

.filter {
    color: black;
    display: flex;
    margin-right: 20px;
    cursor: pointer;
}

.sort {
    color: black;
    display: flex;
    cursor: pointer;
}

.filter-sort h3 {
    margin-left: 6px;
    cursor: pointer;
}

.inside-filter-main {
    display: flex;
    justify-content: flex-end;
    margin-right: 200px;
    margin-top: 10px;
    display: none;
}

.inside-filter {
    background-color: rgb(254, 250, 250);
    height: 400px;
    width: 550px;
}

.header {
    color: rgb(112, 110, 110);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(212, 206, 206);
}

.inside-filter .common {
    padding: 15px;
}

.product-finish {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.product-finish .product-type>input {
    display: flex;
}

.product-type .option {
    margin-top: 10px;
}

.apply-section {
    background-color: rgb(31, 30, 30);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 164px;
}

.under-nav .filter-sort:hover .inside-filter-main {
    display: block;
}

.inside-sort-main {
    display: flex;
    justify-content: flex-end;
    margin-right: 120px;
    display: none;
}

.inside-sort-main .select-clear {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.inside-sort-main .header-sort {
    /* padding: 10px; */
    width: 300px;
    height: 150px;
    background-color: rgb(254, 250, 250);
}

.icon-sort {
    color: black;
    display: flex;
    /* margin-bottom: 20px; */
    padding: 10px;
}

.option-1 {
    background-color: #282828;
    color: #f5f5f5;
}

.option-1 i {
    margin-right: 10px;
}

.option-2 i,
.option-3 i {
    margin-right: 10px;
}

.option-2 i,
.option-3 i {
    margin-right: 10px;
    color: gray;
}

/* .option-2 i:hover,
.option-3 i:hover{
    color: rgb(255, 255, 255);
} */
.option-2,
.option-3 {
    margin-right: 10px;
    color: rgb(111, 110, 110);
}

.option-2:hover,
.option-3:hover {
    width: 100%;
    background-color: #282828;
    color: rgb(255, 255, 255);
}